      body {
        background-color: black;
      }
      .flags {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 150px;
      }

      .flag1 {
        position: relative;
        width: 500px;
        height: 300px;
        background: #d71a28; /* Red background */
        overflow: hidden;
        border: 1px solid white;
        /* margin: 150px 0 0 80px; */
      }

      .white-section {
        position: absolute;
        left: 0;
        top: 0;
        width: 28%; /* about 1/3 of the flag */
        height: 100%;
        background: white;
        /* z-index: 1; */
      }

      /* .zigzag {
      position: absolute;
      left: 28%;
      top: 0;
      width: 15%;
      height: 100%;
      background: white;
      clip-path: polygon(
        0 0, 100% 10%, 0 20%,
        100% 30%, 0 40%,
        100% 50%, 0 60%,
        100% 70%, 0 80%,
        100% 90%, 0 100%
      );
    } */

      .zigzag {
        position: absolute;
        left: 28%;
        top: 0;
        background-color: white;
        width: 20%;
        height: 100%;
        clip-path: polygon(
          0 0,
          100% 10%,
          0 20%,
          100% 30%,
          0 40%,
          100% 50%,
          0 60%,
          100% 70%,
          0 80%,
          100% 90%,
          0 100%
        );
      }
      .flag2 {
        overflow: hidden;
        border: 1px solid white;
      }
      .blue {
        background-color: #01aef0;
        width: 500px;
        height: 100px;
      }
      .yellow {
        background-color: #fef200;
        width: 500px;
        height: 100px;
      }
      .triangle {
        position: absolute;
        left: 56.4%;
        top: 24.6%;
        width: 20%;
        height: 50%;
        background: #231f20;
        clip-path: polygon(0 0, 80% 50%, 0 100%);
      }
      h2 {
        color: white;
        text-align: center;
        display: inline;
        /* margin: 10px 50px; */
        padding-left: 350px;
      }
